<div class="home containter">
  <div>
    <h1>  Welcome To Spy School, <%= current_user.first_name %>! </h1>
    <p>Complete all three challenges to graduate as a super secret super spy!</p>
    <%# <p>Click on the light question mark to start your next super secret spy challenge....<p> %>
  </div>

  <div class="mt-5 d-flex align-items-center">
    <div class="tree-container">
      <%= image_tag "tree branch.png", class:"tree" %>
      <div class="acorn acorn-1">
        <% if current_user.level >= 1 %>
          <%= link_to (image_tag "jetpack.png"), level_one_challenge_path %>
        <% else %>
          <%= link_to (image_tag "question mark light.png"), level_one_challenge_path %>
        <% end %>
      </div>
      <div class="acorn acorn-2">
        <% if current_user.level >=2 %>
          <%= link_to (image_tag "glasses.png"), level_two_challenge_step_one_path %>
        <% elsif current_user.level == 1 %>
          <%= link_to (image_tag "question mark light.png"), level_two_challenge_step_one_path %>
        <% else %>
          <%= image_tag "question mark dark.png" %>
        <% end %>
      </div>
      <div class="acorn acorn-3">
        <% if current_user.level >= 3 %>
          <%= link_to (image_tag "umbrella.png"),  level_three_challenge_path %>
        <% elsif current_user.level == 2 %>
          <%= link_to (image_tag "question mark light.png"),  level_three_challenge_path %>
        <% else %>
          <%= image_tag "question mark dark.png" %>
        <% end %>
      </div>
    </div>
  <div class="squirrel-img">
    <%= image_tag "squirrel1.png" , class:"squirrel" %>
  </div>
</div>
