
<div>
  <h1>  Welcome To Spy School! </h1>
  <p> Welcome to Spy School! Complete the challenges to graduate as a super secret super spy! Select the next question mark to complete your challenge....<p>
</div>

<div class="container mt-5 dashboard-container">
  <div class="tree-container">
    <%= image_tag "tree branch.png", class:"tree" %>
    <div class="acorn acorn-1">
      <%= image_tag "white question mark.png", class:"question" %>
    </div>
    <div class="acorn acorn-2">
      <%= image_tag "black question mark.png", class:"question" %>
    </div>
    <div class="acorn acorn-3">
      <%= image_tag "black question mark.png", class:"question" %>
    </div>
  </div>
  <div class="avatar">
    <%= image_tag "avatar.png" , class:"squirrel" %>
  </div>
</div>
