<div class="challenge two step five container">
  <h1>Hone Your Spy Senses</h1>

  <h3 style="text-align: center;padding-top:50px;">List 1 thing you can <strong>taste</strong></h3>

  <div class="challenge two form" data-controller="disable-button">
    <div class="reward" data-disable-button-target="reward">
      <h1>Well done!</h1>
      <%= image_tag "reward_placeholder.png" %>
      <p>You've passed level 2 and unlocked X-ray sunglasses!</p>
      <%= link_to "Great!", level_two_checkpoint_path, class:"button"%>
    </div>
    <%= simple_form_for(:quiz, url:level_two_snippet_path, method: :get, data: {action: "submit->disable-button#openReward"}) do |f| %>
      <div class="game-2-container-5">

      <div class="game-wrapper">
          <%= image_tag "mouth.png", class:"mouth-logo" %>
          <div class="mid-arch game-2-inputs">
            <div class="input4">
            <%= f.input :answer4, as: :string,label:false,placeholder:"Type here", input_html: {"data-action": "mouseout->disable-button#enableButton", "data-disable-button-target": "input"}  %>
            </div>
          </div>
      </div>

        <div class="challenge 2 d-flex justify-content-center mt-2 pt-3">
            <%= f.button :submit, "Next", disabled: true, data: {disable_button_target: "button"}, class:"button button-challenge-2 btn-bg"%>
        </div>
    <% end %>
  </div>
</div>
