
<div class="container-challenge-one">
  <h1>Crack the Safe</h1>
  <p class="mb-0">Spies need to remain calm under pressure, and <strong>deep breathing</strong> can help you stay calm.</p>
  <p class="mb-0"><strong>Breathe in</strong> through your nose when the dial turns to the <strong>right</strong> and <strong>out</strong> through your mouth when it turns to the <strong>left</strong>!</p>
  <div class="challenge-and-button" data-controller="rotate-dial">
    <div class="reward" data-rotate-dial-target="reward">
      <h1>Good job!</h1>

      <div class="reward-background">
        <%= image_tag "jetpack_reward.png" %>
      </div>

      <p>You've passed level 1 and unlocked a jetpack!</p>
      <%= link_to "Great!", level_one_checkpoint_path, class:"button"%>
    </div>
    <button class="button" data-rotate-dial-target="button" data-action="click->rotate-dial#rotate" >Start!</button>
    <div class="breathing-dial" >
      <div class = "breathe-text-container d-flex flex-column align-items-center">
        <h2 class="breathe" data-rotate-dial-target="breatheText">Breathe</h2>
        <div class="changing-text">
          <h2 class="in" data-rotate-dial-target="breatheInText">in</h2>
          <h2 class="out" data-rotate-dial-target="breatheOutText">out</h2>
        </div>
      </div>
      <%= image_tag "level_one_background_wheel.png" %>
      <%= image_tag "level_one_safe_rotating_dial.png", class:"rotating_wheel", data:{ rotate_dial_target: "dial"} %>
      <%= image_tag "level_one_challenge_safe_background.png" %>
    </div>
  </div>
</div>
