<h1>Level 2 Challenge</h1>
<h3>level 2 step 3<h3>

<p>List 3 things you can hear</p>

<%# <%= simple_form_for() do |f| %> %>
  <%# <%= f.input :answer1%> %>
  <%# <%= f.input :answer2 %> %>
  <%# <%= f.input :answer3 %> %>
  <%# <%= f.submit %> %>
<%# <% end %> %>

<%# button %>
