<div class="challenge two step three container">
  <h1>Level 2 Challenge</h1>
  <h3>level 2 step 3<h3>

  <p>List 3 things you can hear</p>

  <div class="challenge two hear form">
    <%= simple_form_for(:quiz, url:level_two_challenge_step_four_path, method: :get) do |f| %>
      <%= f.input :answer1, as: :string %>
      <%= f.input :answer2, as: :string %>
      <%= f.input :answer3, as: :string %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
