<h1>Level 2 Challenge</h1>
<h3>level 2 step 2<h3>

<p>List 4 things you can touch</p>

<%# <%= simple_form_for() do |f| %> %>
  <%# <%= f.input :answer1%> %>
  <%# <%= f.input :answer2 %> %>
  <%# <%= f.input :answer3 %> %>
  <%# <%= f.input :answer4 %> %>
  <%# <%= f.submit %> %>
<%# <% end %> %>

<%# button %>
