<div class="challenge two step one container">
  <h1>Hone Your Spy Senses</h1>

  <p>Spies need to stay cool and stay alert! </p>
  <p>Do this by focusing on what's around you right now. This is called 'grounding'.</p>
  <br>

  <h3>List 5 things you
  can see</h3>

  <div class="challenge form mt-6" data-controller="disable-button">
    <%= simple_form_for(:quiz, url:level_two_challenge_step_two_path, method: :get) do |f| %>

      <div class="game-2-container-1">

        <%= image_tag "eye.png", class:"logo" %>
        <div class="top-arch game-2-inputs">
          <div class="input1">
          <%= f.input :answer1, as: :string,label:false,placeholder:"Type here", input_html: {"data-action": "change->disable-button#enableButton", "data-disable-button-target": "input"} %>
          </div>
        </div>

        <div class="mid-arch game-2-inputs">
          <div class="input2">
          <%= f.input :answer2, as: :string,label:false,placeholder:"Type here", input_html: {"data-action": "change->disable-button#enableButton", "data-disable-button-target": "input"}  %>
          </div>

          <div class="input3">
          <%= f.input :answer3, as: :string,label:false,placeholder:"Type here", input_html: {"data-action": "change->disable-button#enableButton", "data-disable-button-target": "input"}  %>
          </div>
        </div>

        <div class="bottom-arch game-2-inputs">
          <div class="input4">
          <%= f.input :answer4, as: :string,label:false,placeholder:"Type here", input_html: {"data-action": "change->disable-button#enableButton", "data-disable-button-target": "input"}  %>
          </div>

          <div class="input5">
          <%= f.input :answer5, as: :string,label:false,placeholder:"Type here",input_html: {"data-action": "change->disable-button#enableButton", "data-disable-button-target": "input"}  %>
          </div>
        </div>

        <div class="challenge 2 d-flex justify-content-center mt-4">
          <%= f.button :submit, disabled: true, data: {disable_button_target: "button"}, class:"button btn-bg py-0 px-1"%>
        </div>
      </div>
    <% end %>
</div>
</div>
