
<div class="container challenge one">
  <h1>Crack the Safe</h1>
  <p>Spies need to remain calm under pressure, and deep breathing can help you stay calm.</p>
  <p>Breathe in when the dial turns to the left and out when it turns to the right!</p>
  <div class="challenge-and-button" data-controller="rotate-dial">
    <div class="reward" data-rotate-dial-target="reward">
      <h1>Good job!</h1>
      <%= image_tag "reward_placeholder.png" %>
      <p>You've passed level 1 and unlocked a jetpack!</p>
      <%= link_to "Great!", level_one_checkpoint_path, class:"button"%>
    </div>
    <button class="button" data-rotate-dial-target="button" data-action="click->rotate-dial#rotate" >Start!</button>
    <div class="breathing-dial" >
      <div class = "breathe-text d-flex flex-column align-items-center">
        <h2 class="breathe" data-rotate-dial-target="breatheText">Breathe</h2>
        <div class="changing-text">
          <h2 class="in" data-rotate-dial-target="breatheInText">in</h2>
          <h2 class="out" data-rotate-dial-target="breatheOutText">out</h2>
        </div>
      </div>
      <%= image_tag "level_one_background_wheel.png" %>
      <%= image_tag "level_one_safe_rotating_dial.png", class:"rotating_wheel", data:{ rotate_dial_target: "dial"} %>
      <%= image_tag "level_one_challenge_safe_background.png" %>
    </div>
  </div>
</div>
