<div class="challenge two step three container">
  <h1>Hone Your Spy Skills</h1>

  <h3>List 3 things you can hear</h3>

  <div class="challenge two hear form" data-controller="disable-button">
    <%= simple_form_for(:quiz, url:level_two_challenge_step_four_path, method: :get) do |f| %>

      <div class="game-2-container-3">

      <%= image_tag "ears.png", class:"ears-logo" %>
        <div class="mid-arch game-2-inputs">
          <div class="input2">
          <%= f.input :answer2, as: :string,label:false,placeholder:"Type here", input_html: {"data-action": "change->disable-button#enableButton", "data-disable-button-target": "input"}  %>
          </div>

          <div class="input3">
          <%= f.input :answer3, as: :string,label:false,placeholder:"Type here", input_html: {"data-action": "change->disable-button#enableButton", "data-disable-button-target": "input"}  %>
          </div>
        </div>

        <div class="bottom-arch game-2-inputs">
          <div class="input4">
          <%= f.input :answer4, as: :string,label:false,placeholder:"Type here", input_html: {"data-action": "change->disable-button#enableButton", "data-disable-button-target": "input"}  %>
          </div>
        </div>

        <div class="challenge 2 d-flex justify-content-center mt-4">
          <div class="button">
            <%= f.button :submit, disabled: true, data: {disable_button_target: "button"}, class:"button"%>
          </div>
        </div>
    <% end %>
  </div>
</div>
